// Custom sass ..

$lightBlue: #126FB1;

h1 {
	color: $lightBlue;
}

img {
	max-width: 80%;
	max-height: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hide {
	display: none;
}

// Weather sass

// Custom sass ..

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: start;
  background-color: #efefef;
  font-family: "Montserrat", sans-serif;
}
.row {
  text-align: center;
  margin-bottom: 5px;
}
.weather-widget {
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-items: center;
  background-color: #2075CD;
  color: white;
  width: 25%;
}

.weather-icon {
  font-size: 5rem;
  // animation: rotation 5s infinite linear;
}

.icon {
	
}

.temp-c {
  margin-bottom: 20px;
}

.location-country {
  color: #c2c2c2;
  font-weight: 300;
}
.weather-forecast {
  width: 75%;
}
.forecast-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
  transition: all 0.2s;
}

.forecast-item:hover {
  background-color: #fff;
  cursor: pointer;
}
.forecast-item h6 {
  color: #888;
  margin-top: 5px;
}
.forecast {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  body {
    flex-flow: column;
  }
  .weather-widget {
    width: 100%;
  }
  .weather-forecast {
    width: 100%;
  }
  .temp-c {
    margin-bottom: 7px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
